body {
  display: grid;
  grid-template: auto/auto;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border: 4px solid red;
}

.mainRow {
  display: grid;
  grid-template: auto/repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
  border: 3px solid blue;
}

.iconTitle {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  border: 3px solid green;
}

.topMenu {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  border: 3px solid yellow;
}
