:root {
  --linkColor: #4169E1;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--linkColor);
}

body {
  display: grid;
  grid-template: auto/auto;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border: 4px solid red;
}

body #root {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  border: 3px solid purple;
}

body #root .App {
  display: grid;
  grid-template: auto auto auto/auto;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 90%;
  max-width: 900px;
  border: 3px solid orange;
}

body #root .App .mainRow {
  display: grid;
  grid-template: auto/1fr 5fr;
  justify-items: end;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
  border: 3px solid blue;
}

body #root .App .mainRow .iconTitle {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  border: 3px solid green;
}

body #root .App .mainRow .topMenu {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  border: 3px solid yellow;
}

body #root .App .Catalog .underMenu {
  display: grid;
  grid-template: auto/auto auto 1fr auto auto;
  justify-items: space-around;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
  background-color: grey;
  border: 3px solid blue;
}

body #root .App .Catalog .underMenu .instructions {
  text-align: center;
  display: none;
}

body #root .App .Catalog .card {
  display: grid;
  grid-template: 50px 200px/250px;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  border: 3px solid green;
}

body #root .App .Catalog .card .topCardRow {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  justify-items: space-between;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  border: 3px solid yellow;
}

body #root .App .Catalog .card .cardBody {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  border: 3px solid red;
}

body #root .App .Featured, body #root .App .Articles, body #root .App .About {
  display: none;
}

@media only screen and (min-width: 768px) {
  body #root .App .Catalog .underMenu .instructions {
    display: grid;
  }
}
