@mixin displaygrid($gridtemplate, $justifyitems: center, $alignitems: center, $margin: 2px,$padding: 2px,$height: auto,$width: auto) {
	display: grid;
	grid-template: $gridtemplate;
	justify-items: $justifyitems;
	align-items: $alignitems;
	margin: $margin;
	padding: $padding;
	height: $height;
	width: $width;
}
@mixin fonts($fontfamily,$fontsize,$color){
	font-family: $fontfamily;
	font-size: $fontsize;
	color: $color;
}
html {
	scroll-behavior: smooth;
}

:root {
	--linkColor: #4169E1;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	margin-right: 10px;
	color: var(--linkColor);
}

button {
	@include displaygrid(1fr/1fr, center,center, 3px, 3px, auto, 100%);
	@include fonts("'Jomolhari','sans-serif'",15px,black);
	text-align: center;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 6px;
	box-shadow: 3px 3px darkgrey;
	&:hover {
		cursor: pointer;
	}
}

input {
	margin-right: 5px;
	height: 100%;
	width: auto;
	&::placeholder {
		@include fonts("'Roboto','sans-serif'",20px,black);
		font-weight: bold;
	}
}



body {
	@include displaygrid(auto/auto,center,center,2px,2px, 100%, 100%);
	background-color: #FFFFFF;

	#root {
		@include displaygrid(1fr/1fr,center,center,2px,2px,100%,100%);

		.App {
			@include displaygrid(auto auto auto auto/auto, center,center,2px,2px, auto, 90%);
			max-width: 1000px;

			.mainRow {
				@include displaygrid(auto/1fr 5fr, center, center, 2px,2px, auto, 100%);
				text-transform: uppercase;

				.iconTitle {
					@include displaygrid(1fr/1fr);
				}

				.topMenu {
					@include displaygrid(auto/1fr repeat(4,auto),end,center,2px,2px,100%,100%);

				}
			}

			.Catalog {
				@include displaygrid(auto auto auto/1fr, center, center, 2px, 2px auto, 100%);

				.underMenu {
					@include displaygrid(auto/auto auto 1fr auto auto, space-around,center,2px,2px,auto,100%);
					background-color: grey;

					.instructions {
						text-align: center;
						display: none;
					}
				}

				.cardGrid {
					display: grid;
					grid-template-columns: 330px;
					grid-template-rows: repeat(auto-fill,auto);
					justify-items: center;
					align-items: center;
					width: 100%;

					.card {
						@include displaygrid(35px auto/1fr, center, center, 2px, 2px, auto, 250px);
						overflow-x: hidden;
						overflow-y: hidden;
						min-height: 250px;
						border: 1px solid grey;
						box-shadow: 5px 5px 3px 3px grey;

						.topCardRow {
							@include displaygrid(1fr/1fr 30px, start, center, 3px, 3px, 100%,100%);
							border-bottom: 2px solid grey;

							button {
								width: 20px;
								height: 20px;
							}

						}

						.cardBody {
							@include displaygrid(1fr/1fr, center, center, 2px, 2px, 100%, 100%);
						}
					}
				}
			}

			.About,
			.Articles,
			.Featured {
				display: none;
			}
			.About {
				h2 {
					@include fonts("'Roboto','sans-serif'",30px,black);
					border-bottom: 2px solid grey;
				}

			}

			.Articles, .Featured {
				h2 {
					@include fonts("'Lato','sans-serif'",35px,darkgrey);
					border-bottom: 2px solid grey;
				}
				.articleRow,.featuredRow {
					font-family: 'Roboto Condensed', 'sans-serif';
					text-align: left;
					color: grey;
					margin-bottom: 15px;
					border-bottom: 2px solid lightgrey;
					.articleTitle,.FeaturedTitle {
						font-size: 25px;
						color: black;
					}
					.articleDescription,.featuredDescription {
						font-size: 20px;
					}
					.type, .featuredCreated {
						h3 {
							font-size: 24px;
						}
						font-size: 18px;
						font-style: italic;
					}
				}
			}
			.footer {
				@include displaygrid(1fr/1fr,center,center,2px,2px,auto,100%);
			}
		}
	}

	button#slider {
		position: fixed;
		width: 39px;
		height: 39px;
		background: url("top.png") no-repeat center;
		background-size: contain;
		bottom: 80px;
		right: 20px;
		&:hover {
			cursor: pointer;
		}
	}

}
@media only screen and (min-width: 530px) {
	  body {
			#root {
				.App {
					.Catalog {
						.cardGrid {
							grid-template-columns: repeat(2,330px);
						}
					}
				}
			}
		}
	}

@media only screen and (min-width: 768px) {
	body {
		#root {
			.App {
				.Catalog {
					.cardGrid {
						grid-template-columns: repeat(3,330px);
					}
					.underMenu {
						.instructions {
							display: grid;
						}
					}
				}
			}
		}
	}
}
