@import url("fontawesome-free-5.11.2-web/css/all.min.css");
html {
  scroll-behavior: smooth;
}

:root {
  --linkColor: #4169E1;
  --fonts: "https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Lato|Montserrat|Roboto+Condensed|Source+Sans+Pro|Oswald|Raleway|Roboto+Mono|Roboto+Slab|Merriweather|Poppins|Noto+Sans|PT+Sans|Ubuntu|Playfair+Display|Open+Sans+Condensed|Muli|PT+Serif|Slabo+27px|Lora|Nunito|Titillium+Web|Fira+Sans|Rubik|Noto+Sans+JP|Noto+Serif|Nanum+Gothic|Work+Sans|Inconsolata|Noto+Sans+KR|Arimo|PT+Sans+Narrow|Quicksand|Nunito+Sans|Dosis|Heebo|Oxygen|Cabin|Libre+Franklin|Libre+Baskerville|Karla|Bitter|Josefin+Sans|Crimson+Text|Hind|Anton|Indie+Flower|Source+Code+Pro|Lobster|Fjalla+One|Noto+Sans+TC|Mukta|Varela+Round|Abel|Barlow|Arvo|Dancing+Script|Source+Serif+Pro|Pacifico|Merriweather+Sans|Exo+2|Teko|Cairo|Shadows+Into+Light|Overpass|Bree+Serif|Questrial|Abril+Fatface|Archivo+Narrow|Asap|EB+Garamond|Acme|Yanone+Kaffeesatz|Barlow+Condensed|IBM+Plex+Sans|Comfortaa|Hind+Siliguri|Kanit|Amatic+SC|Signika|Maven+Pro|Assistant|Exo|Fira+Sans+Condensed|Domine|Ubuntu+Condensed|Righteous|Play|PT+Sans+Caption|Catamaran|Ropa+Sans|Cinzel|Cormorant+Garamond|Patua+One|Noto+Sans+SC|Vollkorn|Prompt|Rajdhani|Crete+Round|Hind+Madurai|Francois+One|News+Cycle|Permanent+Marker|Caveat|Cuprum|ABeeZee|Satisfy|Monda|Courgette|Amiri|Zilla+Slab|Rokkitt|Alegreya+Sans|Pathway+Gothic+One|Kalam|Fira+Sans+Extra+Condensed|Noticia+Text|Cardo|Fredoka+One|Alegreya|Martel|Kaushan+Script|Alfa+Slab+One|Tinos|Nanum+Myeongjo|Old+Standard+TT|Great+Vibes|Tajawal|Barlow+Semi+Condensed|Cantarell|Archivo+Black|Quattrocento+Sans|Istok+Web|Gloria+Hallelujah|Lobster+Two|Asap+Condensed|Sacramento|Patrick+Hand|Gothic+A1|Didact+Gothic|Concert+One|Volkhov|Economica|Orbitron|Frank+Ruhl+Libre|IBM+Plex+Serif|Poiret+One|Quattrocento|Luckiest+Guy|Russo+One|M+PLUS+1p|Noto+Serif+JP|Advent+Pro|Hind+Guntur|Cookie|BenchNine|Vidaloka|Neuton|Sunflower|Prata|Josefin+Slab|Sanchez|Passion+One|Hind+Vadodara|Special+Elite|Archivo|Neucha|Staatliches|Alice|Playfair+Display+SC|Handlee|Bangers|Changa|Yantramanav|Gudea|Chivo|Yrsa|Philosopher|Ultra|Baloo|Sawarabi+Mincho|Montserrat+Alternates|Ruda|Lalezar|Baloo+Bhai|Arapey|Saira|Taviraj|Cabin+Condensed|Monoton|Pontano+Sans|Paytone+One|Tangerine|Saira+Extra+Condensed|Parisienne|Armata|Fugaz+One|PT+Mono|Khand|Marck+Script|Playball|Unica+One|Architects+Daughter|Varela|Enriqueta|Spectral|Bad+Script|Hammersmith+One|Gentium+Basic|Sigmar+One|Yellowtail|Nanum+Gothic+Coding|Amaranth|Scada|Saira+Condensed|Adamina|Pragati+Narrow|Homemade+Apple|Audiowide|Viga|Gentium+Book+Basic|Unna|El+Messiri|Karma|Sorts+Mill+Goudy|Glegoo|Gochi+Hand|Actor|Signika+Negative|Sarala|Julius+Sans+One|Bowlby+One+SC|M+PLUS+Rounded+1c|Allura|Shadows+Into+Light+Two|Merienda|Electrolize|Kreon|Press+Start+2P|Encode+Sans|PT+Serif+Caption|Ubuntu+Mono|Lusitana|Rock+Salt|Sintony|Pridi|Cantata+One|Oleo+Script|Covered+By+Your+Grace|Yeseva+One|Damion|Rasa|IBM+Plex+Mono|Boogaloo|Black+Ops+One|Cormorant|Mitr|Forum|Alegreya+Sans+SC|Arbutus+Slab|Nanum+Pen+Script|Sarabun|Jura|Carter+One|Nothing+You+Could+Do|Abhaya+Libre|Palanquin|Jaldi|Cousine|Bevan|Saira+Semi+Condensed|Khula|Antic+Slab|Squada+One|Tenor+Sans|Pinyon+Script|Molengo|Reenie+Beanie|Rancho|Alex+Brush|Marcellus|Mr+Dafoe|Lustria|Chewy|Spinnaker|Quantico|Alef|Aclonica|Candal|Marmelad|Sawarabi+Gothic|Aldrich|Markazi+Text|Rambla|Share+Tech+Mono|Marvel|Michroma|Basic|Coda|Caveat+Brush|Average|Fauna+One|Fredericka+the+Great|Niconne|Antic|Reem+Kufi|Nobile|Rubik+Mono+One|Allerta|Fira+Mono|Days+One|VT323|Italianno|Alegreya+SC|Allerta+Stencil|Coming+Soon|DM+Serif+Text|Knewave|Overlock|Mukta+Malar|Gruppo|Space+Mono|Just+Another+Hand|Lateef|Syncopate|Leckerli+One|Chakra+Petch|Scheherazade|Miriam+Libre|Cabin+Sketch|Itim|Telex|Aladin|Baloo+Bhaina|Rufina|Magra|McLaren|Cinzel+Decorative|Kosugi+Maru|Racing+Sans+One|Biryani|Arima+Madurai|Halant|Encode+Sans+Condensed|Grand+Hotel|Coda+Caption|Ramabhadra|Lilita+One|Berkshire+Swash|Arsenal|Share|Copse|Oranienbaum|Londrina+Solid|Anonymous+Pro|Marcellus+SC|Noto+Serif+SC|Lemonada|Norican|Pangolin|Rye|Shrikhand|Hanuman|Martel+Sans|Nanum+Brush+Script|Kameron|Radley|Petit+Formal+Script|Lekton|Allan|Annie+Use+Your+Telescope|Jockey+One|DM+Sans|Eczar|Bai+Jamjuree|Graduate|Rochester|Buenard|Yesteryear|Nixie+One|Mountains+of+Christmas|Suranna|Changa+One|Contrail+One|Carrois+Gothic|Caudex|Wallpoet|Coustard|Titan+One|Bungee+Inline|Judson|Pattaya|Mali|Overpass+Mono|Capriola|Belleza|Trirong|Mada|Merienda+One|Carme|Rosario|Delius|Metrophobic|Slabo+13px|Lexend+Deca|Voltaire|GFS+Didot|Arizonia|ZCOOL+XiaoWei|Aleo|Gilda+Display|Kelly+Slab|Herr+Von+Muellerhoff|Average+Sans|Kristi|Niramit|Calligraffitti|DM+Serif+Display|Bubblegum+Sans|Schoolbell|Krub|Goudy+Bookletter+1911|Noto+Serif+TC|Amethysta|Sriracha|Encode+Sans+Semi+Expanded|Love+Ya+Like+A+Sister|Six+Caps|Bentham|Oxygen+Mono|Cormorant+Infant|Ovo|Palanquin+Dark|Bungee|Limelight|Sue+Ellen+Francisco|Shojumaru|Poly|Cutive+Mono|Encode+Sans+Expanded|Ceviche+One|Andada|Homenaje|Cutive|Duru+Sans|Cambay|Laila|Faustina|Mukta+Vaani|Maitree|Freckle+Face|Baloo+Bhaijaan|Mr+De+Haviland|Cedarville+Cursive|Baumans|Vesper+Libre|Anaheim|Spicy+Rice|Pompiere|Mate|Black+Han+Sans|Doppio+One|Federo|IM+Fell+Double+Pica|Sansita|Trocchi|Fresca|Gurajada|Gabriela|Chonburi|Emilys+Candy|Amiko|Secular+One|IBM+Plex+Sans+Condensed|Inder|Corben|Do+Hyeon|Balthazar|Montez|Noto+Serif+KR|IM+Fell+English|Sofia|Fanwood+Text|Athiti|Kadwa|Suez+One|Averia+Serif+Libre|Cambo|Poller+One|Finger+Paint|Oregano|Unkempt|Aref+Ruqaa|Fondamento|Battambang|Convergence|Mouse+Memoirs|Rozha+One|NTR|Brawler|Waiting+for+the+Sunrise|Carrois+Gothic+SC|Galada|Lemon|Alike|Qwigley|Raleway+Dots|Seaweed+Script|IM+Fell+DW+Pica|Megrim|La+Belle+Aurore|UnifrakturMaguntia|Short+Stack|Give+You+Glory|Chelsea+Market|Skranji|IM+Fell+English+SC|BioRhyme|Patrick+Hand+SC|Crafty+Girls|Gravitas+One|Faster+One|Mallanna|Vast+Shadow|Denk+One|Noto+Sans+HK|Kurale|Podkova|Rouge+Script|Sniglet|Mako|Zeyada|Proza+Libre|Gafata|Tienne|Bowlby+One|Belgrano|Expletus+Sans|Sedgwick+Ave|Mirza|Montserrat+Subrayada|Strait|Cantora+One|Cormorant+SC|Alike+Angular|Harmattan|Peralta|Oleo+Script+Swash+Caps|Share+Tech|Quando|Andika|Wendy+One|Happy+Monkey|Baloo+Chettan|Jua|Kosugi|The+Girl+Next+Door|Stardos+Stencil|K2D|Libre+Barcode+39|Loved+by+the+King|Voces|Orienta|Amita|Clicker+Script|Katibeh|Baloo+Thambi|Encode+Sans+Semi+Condensed|Delius+Swash+Caps|Walter+Turncoat|Nova+Square|Esteban|Meddon|Baloo+Paaji|Bilbo+Swash+Caps|Puritan|Literata|Tauri|Euphoria+Script|Cormorant+Upright|Mrs+Saint+Delafield|Creepster|Cherry+Swash|Artifika|Song+Myung|Holtwood+One+SC|Fjord+One|Dawning+of+a+New+Day|Aguafina+Script|Spectral+SC|Just+Me+Again+Down+Here|Averia+Libre|Crushed|Rationale|Imprima|Salsa|Asul|Wire+One|Over+the+Rainbow|Scope+One|Overlock+SC|Charm|Fontdiner+Swanky|Bungee+Shade|Codystar|Geo|Bellefair|Averia+Sans+Libre|Life+Savers|Spirax|Krona+One|Padauk|Lily+Script+One|Numans|Iceland|Rammetto+One|Ledger|B612+Mono|Ruslan+Display|Princess+Sofia|Sarpanch|David+Libre|Shanti|Prosto+One|Port+Lligat+Sans|Mandali|Purple+Purse|Bubbler+One|Baloo+Da|Habibi|Nova+Mono|Atma|Red+Hat+Display|Pavanam|Antic+Didone|Headland+One|Dekko|Vibur|Rakkas|Vampiro+One|Slackey|Dynalight|Koulen|Ranchers|Ruluko|Sumana|Rum+Raisin|Farsan|Manjari|Gugi|Modak|Kranky|Eater|Livvic|Port+Lligat+Slab|Arya|Big+Shoulders+Display|Medula+One|Kumar+One|Kotta+One|Quintessential|Almendra|Zilla+Slab+Highlight|Condiment|Elsie|Englebert|Dokdo|Metamorphous|Cherry+Cream+Soda|Tulpen+One|Mate+SC|Sirin+Stencil|Coiny|Timmana|Frijole|Sail|ZCOOL+QingKe+HuangYou|Sonsie+One|Engagement|Mogra|Chau+Philomene+One|Nova+Round|Meera+Inimai|Junge|Inknut+Antiqua|Stint+Ultra+Condensed|Delius+Unicase|Manuale|Amarante|Pirata+One|Nova+Slim|Vollkorn+SC|Bilbo|Donegal+One|Kite+One|Thasadith|Saira+Stencil+One|Mystery+Quest|IM+Fell+French+Canon+SC|Sarina|Mina|Buda|Fascinate+Inline|Mukta+Mahee|Rosarivo|Chicle|Prociono|Simonetta|Dorsa|Stoke|IM+Fell+Great+Primer|Ribeye+Marrow|Flamenco|Ramaraja|Italiana|Macondo+Swash+Caps|Be+Vietnam|Darker+Grotesque|Tillana|Text+Me+One|Khmer|Baloo+Tamma|Fenix|Sura|League+Script|Londrina+Outline|Stalemate|IM+Fell+DW+Pica+SC|Paprika|Ranga|Jacques+Francois+Shadow|Cagliostro|IM+Fell+French+Canon|Sancreek|Germania+One|Miniver|Plaster|Yeon+Sung|Ewert|Gaegu|New+Rocker|Red+Hat+Text|Ribeye|Hanalei+Fill|Milonga|Underdog|Swanky+and+Moo+Moo|Lovers+Quarrel|Nosifer|Yatra+One|Maiden+Orange|Croissant+One|Cormorant+Unicase|Chathura|Trade+Winds|Kavoon|Sunshiney|Akronim|Chela+One|Uncial+Antiqua|Henny+Penny|Supermercado+One|Averia+Gruesa+Libre|Offside|Julee|Marko+One|Libre+Caslon+Text|Margarine|Farro|Redressed|Linden+Hill|Chango|Glass+Antiqua|Monofett|Galdeano|Srisakdi|Trochut|Angkor|Liu+Jian+Mao+Cao|Elsie+Swash+Caps|Della+Respira|Barrio|Diplomata|Petrona|B612|UnifrakturCook|Griffy|Revalia|Hepta+Slab|Grenze|Nova+Flat|Moul|Mansalva|Snippet|Sree+Krushnadevaraya|Kodchasan|Eagle+Lake|Barriecito|Lakki+Reddy|Autour+One|Unlock|Monsieur+La+Doulaise|Wellfleet|Stint+Ultra+Expanded|Nokora|Bokor|Chilanka|Baloo+Tammudu|Blinker|Montaga|Charmonman|Inika|Joti+One|KoHo|Ruthie|Felipa|Arbutus|IM+Fell+Great+Primer+SC|Irish+Grover|Trykker|Bigshot+One|Goblin+One|Smythe|Dr+Sugiyama|Oldenburg|Dangrek|Modern+Antiqua|Gayathri|Asset|Snowburst+One|Iceberg|Mrs+Sheppards|Poor+Story|MedievalSharp|Molle|Rhodium+Libre|Bahiana|Sahitya|Metal+Mania|Libre+Barcode+39+Extended+Text|Asar|Devonshire|Meie+Script|Hi+Melody|Libre+Barcode+128|Kenia|Jomhuria|Content|IM+Fell+Double+Pica+SC|Original+Surfer|Lancelot|Keania+One|Odor+Mean+Chey|Libre+Barcode+39+Text|Freehand|Bayon|Butcherman|Atomic+Age|Caesar+Dressing|Almendra+Display|Jim+Nightshade|Astloch|Ravi+Prakash|Notable|Stylish|Flavors|Kantumruy|Londrina+Shadow|Gorditas|Jacques+Francois|Smokum|Cute+Font|Jolly+Lodger|Libre+Barcode+39+Extended|East+Sea+Dokdo|Kavivanar|Diplomata+SC|Romanesco|Crimson+Pro|Nova+Cut|Nova+Script|Risque|Miltonian+Tattoo|GFS+Neohellenic|Geostar+Fill|Seymour+One|Fahkwang|Nova+Oval|Gamja+Flower|Suwannaphum|Ruge+Boogie|Metal|Almendra+SC|Emblema+One|Big+Shoulders+Text|Kirang+Haerang|Macondo|Miltonian|Tenali+Ramakrishna|Almarai|Major+Mono+Display|Piedra|Black+And+White+Picture|Sedgwick+Ave+Display|Siemreap|Kumar+One+Outline|Bungee+Outline|Taprom|Galindo|Butterfly+Kids|Combo|Fira+Code|Jomolhari|Miss+Fajardose|Preahvihear|Erica+One|Passero+One|Bungee+Hairline|Libre+Barcode+128+Text|Fruktur|Bonbon|Bigelow+Rules|Sevillana|Sofadi+One|Londrina+Sketch|Aubrey|Fascinate|ZCOOL+KuaiLe|Geostar|Mr+Bedfort|Gidugu|Suravaram|Peddana|Hanalei|Lexend+Exa|Beth+Ellen|Federant|Kdam+Thmor|Moulpali|Chenla|Stalinist+One|Libre+Caslon+Display|BioRhyme+Expanded|Dhurjati|Fasthand|Warnes|Turret+Road|Ma+Shan+Zheng|Bahianita|Single+Day|Lexend+Giga|Lacquer|Zhi+Mang+Xing|Lexend+Zetta|Lexend+Mega|Lexend+Tera|Long+Cang|Lexend+Peta|Vibes&display=swap"
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--linkColor);
}

button {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
  height: auto;
  width: 100%;
  font-family: "'Jomolhari','sans-serif'";
  font-size: 15px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 6px;
  box-shadow: 3px 3px darkgrey;
}
button:hover {
  cursor: pointer;
}

input,
select {
  height: 40px;
  margin-right: 10px;
}

input {
  width: auto;
}
input::placeholder {
  font-family: "'Roboto','sans-serif'";
  font-size: 15px;
  color: black;
  font-weight: bold;
}

body {
  display: grid;
  grid-template: auto/auto;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
body #root {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
}
body #root .appContainer {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  border: 3px solid red;
}
body #root .appContainer .App {
  display: grid;
  grid-template: auto auto auto auto/auto;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 90%;
  max-width: 1000px;
}
body #root .appContainer .App .mainRow {
  display: grid;
  grid-template: auto/1fr 5fr;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
  text-transform: uppercase;
}
body #root .appContainer .App .mainRow .iconTitle {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
}
body #root .appContainer .App .mainRow .topMenu {
  display: grid;
  grid-template: auto/1fr repeat(4, auto);
  justify-items: end;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
}
body #root .appContainer .App .Catalog {
  display: grid;
  grid-template: auto auto auto/1fr;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px auto;
  height: 100%;
  width: auto;
}
body #root .appContainer .App .Catalog .underMenu {
  display: grid;
  grid-template: auto/auto auto 1fr auto auto;
  justify-items: space-around;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
}
body #root .appContainer .App .Catalog .underMenu .instructions {
  font-family: "'Roboto','sans-serif'";
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  display: none;
}
body #root .appContainer .App .Catalog .cardGrid {
  display: grid;
  grid-template-columns: 330px;
  grid-template-rows: repeat(auto-fill, auto);
  justify-items: center;
  align-items: center;
  width: 100%;
}
body #root .appContainer .App .Catalog .cardGrid .card {
  display: grid;
  grid-template: 35px auto/1fr;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 250px;
  border: 1px solid grey;
  box-shadow: 5px 5px 3px 3px grey;
}
body #root .appContainer .App .Catalog .cardGrid .card .topCardRow {
  display: grid;
  grid-template: 1fr/1fr 30px;
  justify-items: start;
  align-items: center;
  margin: 3px;
  padding: 3px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid grey;
}
body #root .appContainer .App .Catalog .cardGrid .card .topCardRow button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
body #root .appContainer .App .Catalog .cardGrid .card .cardBody {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
}
body #root .appContainer .App .About,
body #root .appContainer .App .Articles,
body #root .appContainer .App .Featured {
  display: none;
}
body #root .appContainer .App .About h2 {
  font-family: "'Roboto','sans-serif'";
  font-size: 30px;
  color: black;
  border-bottom: 2px solid grey;
}
body #root .appContainer .App .Articles h2,
body #root .appContainer .App .Featured h2 {
  font-family: "'Lato','sans-serif'";
  font-size: 35px;
  color: darkgrey;
  border-bottom: 2px solid grey;
}
body #root .appContainer .App .Articles .articleRow,
body #root .appContainer .App .Articles .featuredRow,
body #root .appContainer .App .Featured .articleRow,
body #root .appContainer .App .Featured .featuredRow {
  font-family: 'Roboto Condensed', 'sans-serif';
  text-align: left;
  color: grey;
  margin-bottom: 15px;
  border-bottom: 2px solid lightgrey;
}
body #root .appContainer .App .Articles .articleRow .FeaturedTitle,
body #root .appContainer .App .Articles .articleRow .articleTitle,
body #root .appContainer .App .Articles .featuredRow .FeaturedTitle,
body #root .appContainer .App .Articles .featuredRow .articleTitle,
body #root .appContainer .App .Featured .articleRow .FeaturedTitle,
body #root .appContainer .App .Featured .articleRow .articleTitle,
body #root .appContainer .App .Featured .featuredRow .FeaturedTitle,
body #root .appContainer .App .Featured .featuredRow .articleTitle {
  font-size: 25px;
  color: black;
}
body #root .appContainer .App .Articles .articleRow .articleDescription,
body #root .appContainer .App .Articles .articleRow .featuredDescription,
body #root .appContainer .App .Articles .featuredRow .articleDescription,
body #root .appContainer .App .Articles .featuredRow .featuredDescription,
body #root .appContainer .App .Featured .articleRow .articleDescription,
body #root .appContainer .App .Featured .articleRow .featuredDescription,
body #root .appContainer .App .Featured .featuredRow .articleDescription,
body #root .appContainer .App .Featured .featuredRow .featuredDescription {
  font-size: 20px;
}
body #root .appContainer .App .Articles .articleRow .featuredCreated,
body #root .appContainer .App .Articles .articleRow .type,
body #root .appContainer .App .Articles .featuredRow .featuredCreated,
body #root .appContainer .App .Articles .featuredRow .type,
body #root .appContainer .App .Featured .articleRow .featuredCreated,
body #root .appContainer .App .Featured .articleRow .type,
body #root .appContainer .App .Featured .featuredRow .featuredCreated,
body #root .appContainer .App .Featured .featuredRow .type {
  font-size: 18px;
  font-style: italic;
}
body #root .appContainer .App .Articles .articleRow .featuredCreated h3,
body #root .appContainer .App .Articles .articleRow .type h3,
body #root .appContainer .App .Articles .featuredRow .featuredCreated h3,
body #root .appContainer .App .Articles .featuredRow .type h3,
body #root .appContainer .App .Featured .articleRow .featuredCreated h3,
body #root .appContainer .App .Featured .articleRow .type h3,
body #root .appContainer .App .Featured .featuredRow .featuredCreated h3,
body #root .appContainer .App .Featured .featuredRow .type h3 {
  font-size: 24px;
}
body #root .appContainer .App .footer {
  display: grid;
  grid-template: 1;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: 100%;
}
body button#slider {
  position: fixed;
  width: 39px;
  height: 39px;
  background: url("top.png") no-repeat center;
  background-size: contain;
  bottom: 80px;
  right: 20px;
}
body button#slider:hover {
  cursor: pointer;
}
body div#fontsChosen {
  position: fixed;
  display: grid;
  grid-template: 50px 50px/600px;
  justify-items: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
  background-color: lightblue;
  bottom: 10px;
  right: 50%;
}
body div#fontsChosen .inputRow {
  display: grid;
  grid-template: 1fr/auto auto;
  justify-items: space-between;
  align-items: center;
  margin: 2px;
  padding: 2px;
  height: auto;
  width: auto;
}
body div#fontsChosen .inputRow input {
  width: 400px;
  height: 98%;
}

@media only screen and (min-width: 530px) {
  body #root .appContainer .App .Catalog .cardGrid {
    grid-template-columns: repeat(2, 330px);
  }
}
@media only screen and (min-width: 768px) {
  body #root .appContainer .App .Catalog .cardGrid {
    grid-template-columns: repeat(3, 330px);
  }
  body #root .appContainer .App .Catalog .underMenu .instructions {
    display: grid;
  }
}
